Smart Driven App

In [ ]:
%pip install pygwalker

Data Processing and Integration

In [2]:
import pandas as pd
import datetime as dt
import calendar 

file_paths_sugar_bag = {
    'weather_station': './SugarBag/SugarBagRd_Atmos_Aggregated.csv',
    'wifi_counter': './SugarBag/SugarBagRd_NCount_Aggregated.csv',
    'object_detection': './SugarBag/Alpha_X_Aggregated.csv',
    'infrared_bi_directional': './SugarBag/SugarBagRd_Farmo_Aggregated.csv',
    'infrared_counters': './SugarBag/SugarBagRd_DingTek_Aggregated.csv',
    'vibration_counters': './SugarBag/SugarBagRd_R718mbb_Aggregated.csv'

}

file_path_mary_cairncross = {
    'weather_station': './MaryCaincross/Atmos_Aggregated.csv',
    'wifi_counter': './MaryCaincross/NCount_Aggregated.csv',
    'object_detection': './MaryCaincross/Milesight_Aggregated.csv',
    'infrared_bi_directional': './MaryCaincross/Farmo_Aggregated.csv',
    'infrared_counters': './MaryCaincross/DingTek_Aggregated.csv',
    'soil_moisture_sensor': './MaryCaincross/SMT100a_Aggregated.csv',
    'environment_monitoring': './MaryCaincross/R712_Aggregated.csv',
    'temperature_probes': './MaryCaincross/R718b140_Aggregated.csv'

}

In [4]:
# Funtioin to load datasets

def load_dataset(file_path):
    return pd.read_csv(file_path)

# Sugar datasets

sugar_bag_data = { sensor: load_dataset(path) for sensor, path in file_paths_sugar_bag.items()}

# Mary Cairncross 

mary_cairncross_data= { sensor: load_dataset(path) for sensor, path in file_path_mary_cairncross.items()}

In [5]:
# Cleaning dataset

def clean_weather_data(df):
    df['datetime'] = pd.to_datetime(df['datetime'])
    df.fillna(method='ffill', inplace=True)
    df['Month'] = pd.to_datetime(df['datetime'], format='%m').dt.month_name()
    df['Year'] = pd.DatetimeIndex(df['datetime']).year
    return df

sugar_bag_data['weather_station']= clean_weather_data(sugar_bag_data['weather_station'])


sugar_bag_data['weather_station'].head()

,dev_id,datetime,airTemperature,airTemeratureDiff,atmosphericPressure,atmosphericPressureDiff,gustSpeed,gustSpeedDiff,precipitation,relativeHumidity,relativeHumidityDiff,solarRadiation,windSpeed,windSpeedDiff,windDirection,windDirectionDiff,Month,Year
0,atmos41-2729,2023-01-01 00:00:00,24.8,0.9,101.14,-0.02,4.76,-1.72,0.0,74.3,-5.1,400.0,1.26,-0.04,101.1,-39.9,January,2023
1,atmos41-2729,2023-01-01 01:00:00,26.7,1.9,101.07,-0.02,3.72,1.03,0.0,68.9,-4.0,1067.0,1.11,0.00,56.9,-1.4,January,2023
2,atmos41-2729,2023-01-01 02:00:00,25.4,-0.4,101.03,-0.01,3.10,-0.28,0.0,72.1,2.0,1073.0,1.34,-0.01,55.5,-11.5,January,2023
3,atmos41-2729,2023-01-01 03:00:00,26.4,0.5,100.99,-0.01,2.45,-0.26,0.0,65.1,-4.3,1018.0,1.18,0.15,77.7,-0.6,January,2023
4,atmos41-2729,2023-01-01 04:00:00,25.7,-1.7,100.95,0.00,2.57,0.05,0.0,68.8,4.1,820.0,1.16,0.09,66.0,0.8,January,2023

In [33]:
def clean_wifi_data(df):
    df['datetime'] = pd.to_datetime(df['datetime'])
    df.fillna(method='ffill', inplace=True)
    df['Month'] = pd.to_datetime(df['datetime'], format='%m').dt.month_name()
    df['Year'] = pd.DatetimeIndex(df['datetime']).year
    return df

sugar_bag_data['wifi_counter']= clean_wifi_data(sugar_bag_data['wifi_counter'])

sugar_bag_data['wifi_counter'].head()

,dev_id,datetime,new,newDiff,current,currentDiff,total,totalDiff,Month,Year
0,014ddf,2023-01-01 00:00:00,105,-4.0,152,10.0,257,6.0,January,2023
1,014ddf,2023-01-01 01:00:00,141,4.0,89,-6.0,230,-2.0,January,2023
2,014ddf,2023-01-01 02:00:00,77,7.0,68,-21.0,145,-14.0,January,2023
3,014ddf,2023-01-01 03:00:00,66,-12.0,25,4.0,91,-8.0,January,2023
4,014ddf,2023-01-01 04:00:00,37,-6.0,18,-2.0,55,-8.0,January,2023

In [34]:
def clean_bi_data(df):
    df['datetime'] = pd.to_datetime(df['datetime'])
    df.fillna(method='ffill', inplace=True)
    df['Month'] = pd.to_datetime(df['datetime'], format='%m').dt.month_name()
    df['Year'] = pd.DatetimeIndex(df['datetime']).year
    return df

sugar_bag_data['infrared_bi_directional']= clean_bi_data(sugar_bag_data['infrared_bi_directional'])

sugar_bag_data['infrared_bi_directional'].head()

,dev_id,datetime,battery,count1,nonNegDifCount1,count2,nonNegDifCount2,activity,nonNegDigActivity,Month,Year
0,fpc-4f48,2023-01-01 00:00:00,3.65,1264,0.0,931,0.0,2195,NaN,January,2023
1,fpc-4f48,2023-01-01 01:00:00,3.65,1264,0.0,931,0.0,2195,0.0,January,2023
2,fpc-4f48,2023-01-01 02:00:00,3.65,1264,0.0,931,0.0,2195,0.0,January,2023
3,fpc-4f48,2023-01-01 03:00:00,3.65,1264,0.0,931,0.0,2195,0.0,January,2023
4,fpc-4f48,2023-01-01 04:00:00,3.65,1264,0.0,931,0.0,2195,0.0,January,2023

In [35]:
def clean_odc_data(df):
    df['datetime'] = pd.to_datetime(df['datetime'])
    df.fillna(method='ffill', inplace=True)
    df['Month'] = pd.to_datetime(df['datetime'], format='%m').dt.month_name()
    df['Year'] = pd.DatetimeIndex(df['datetime']).year
    return df

sugar_bag_data['object_detection']= clean_odc_data(sugar_bag_data['object_detection'])

sugar_bag_data['object_detection'].head()

,dev_id,datetime,F1 - peopleLeft/Up,F2 - peopleRight/Down,F3 - bikesLeft/Up,F4 - bikesRight/Down,F5 - carsLeft/Up,F6 - carsRight/Down,F7 - busesLeft/Up,F8 - busesRight/Down,F9 - trucksLeft/Up,F10 - trucksRight/Down,Month,Year
0,alphax-1692,2023-02-08 04:00:00,31,30,0,0,148,110,0,0,1,1,February,2023
1,alphax-1692,2023-02-08 05:00:00,31,19,0,1,53,74,3,2,6,2,February,2023
2,alphax-1692,2023-02-08 06:00:00,19,18,6,2,48,63,1,0,8,2,February,2023
3,alphax-1692,2023-02-08 07:00:00,7,5,2,1,48,33,0,0,4,0,February,2023
4,alphax-1692,2023-02-08 08:00:00,5,3,1,1,25,14,0,0,0,0,February,2023

In [36]:
def clean_ic_data(df):
    df['datetime'] = pd.to_datetime(df['datetime'])
    df.fillna(method='ffill', inplace=True)
    df['Month'] = pd.to_datetime(df['datetime'], format='%m').dt.month_name()
    df['Year'] = pd.DatetimeIndex(df['datetime']).year
    return df

sugar_bag_data['infrared_counters']= clean_ic_data(sugar_bag_data['infrared_counters'])

sugar_bag_data['infrared_counters'].head()

,dev_id,datetime,battery,peopleCount,nonNegPeopleCount,Month,Year
0,dc500-385c,2023-01-01 00:00:00,3.58,52,0.0,January,2023
1,dc500-385c,2023-01-01 01:00:00,3.58,52,0.0,January,2023
2,dc500-385c,2023-01-01 02:00:00,3.58,52,0.0,January,2023
3,dc500-385c,2023-01-01 03:00:00,3.58,52,0.0,January,2023
4,dc500-385c,2023-01-01 04:00:00,3.58,52,0.0,January,2023

In [37]:
def clean_vc_data(df):
    df['datetime'] = pd.to_datetime(df['datetime'])
    df.fillna(method='ffill', inplace=True)
    df['Month'] = pd.to_datetime(df['datetime'], format='%m').dt.month_name()
    df['Year'] = pd.DatetimeIndex(df['datetime']).year
    return df

sugar_bag_data['vibration_counters']= clean_vc_data(sugar_bag_data['vibration_counters'])

sugar_bag_data['vibration_counters'].head()

,dev_id,datetime,battery,batteryDiff,workCount,workCountDiff,Month,Year
0,r718mbb-314f,2023-01-01 00:00:00,3.6,NaN,260,0.0,January,2023
1,r718mbb-314f,2023-01-01 01:00:00,3.6,0.0,260,0.0,January,2023
2,r718mbb-314f,2023-01-01 02:00:00,3.6,0.0,260,0.0,January,2023
3,r718mbb-314f,2023-01-01 03:00:00,3.6,0.0,260,0.0,January,2023
4,r718mbb-314f,2023-01-01 04:00:00,3.6,0.0,260,0.0,January,2023

In [ ]:
import pygwalker as pyg # type: ignore

pyg.walk(sugar_bag_data['weather_station'])

In [ ]:
pyg.walk(sugar_bag_data['wifi_counter'])

In [ ]:
pyg.walk(sugar_bag_data['object_detection'])

In [ ]:
pyg.walk(sugar_bag_data['infrared_bi_directional'])

In [ ]:
pyg.walk(sugar_bag_data['infrared_counters'])

In [ ]:
pyg.walk(sugar_bag_data['vibration_counters'])